@{Layout="_Layout";}

<div class="text-center">
    <a class="btn btn-primary" asp-action="IndexTovars">Инофрмация о товарах</a>
    <a class="btn btn-primary" asp-action="IndexTitles">Инофрмация о тайтлах</a>
    <a class="btn btn-primary" asp-action="IndexCategories">Инофрмация о категориях</a>
    <a class="btn btn-primary" asp-action="IndexUsers">Инофрмация о пользователях</a>
    <a class="btn btn-primary" asp-action="IndexOrders">Инофрмация о заказах</a>   
</div>